.header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}
.login_button {
  width: 92px;
  height: 36px;
  color: white;
  font-weight: 600;
  background: var(--c-primary);
  border-radius: var(--rounded-sm);
}
.login_button:hover {
  background: var(--c-primary-darker);
}

.footer {
  color: white;
  min-height: 150px;
  background-color: var(--c-blue-bg-darker);
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  color: #aaa;
  font-size: 0.7rem;
}