.header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}
.title:hover {
  cursor: pointer;
}
.login_button {
  width: 92px;
  height: 36px;
  color: white;
  font-weight: 600;
  background: var(--c-primary);
  border-radius: var(--rounded-sm);
}
.login_button:hover {
  cursor: pointer;
  background: var(--c-primary-darker);
}
.user_icon_box {
  position: relative;
}
.user_icon {
  border-radius: var(--rounded-full);
  cursor: pointer;
}
.user_icon_box > .dropdown {
  position: absolute;
  top: 36px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: var(--rounded-md);
  box-shadow: 0 0 0 1px #96a3b31a, 0 8px 28px -4px #96a3b34d;
  /* animation: usePopover_popoverIn__E6NnO .2s ease; */
  z-index: 250;
}

.footer {
  color: white;
  min-height: 150px;
  width: 100vw;
  background-color: var(--c-blue-bg-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.copyright {
  color: #aaa;
  font-size: 0.7rem;
}