.header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}
.title:hover {
  cursor: pointer;
}
.login_button {
  width: 92px;
  height: 36px;
  color: white;
  font-weight: 600;
  background: var(--c-primary);
  border-radius: var(--rounded-sm);
}
.login_button:hover {
  cursor: pointer;
  background: var(--c-primary-darker);
}
.user_icon_box {
  position: relative;
}
.user_icon {
  border-radius: var(--rounded-full);
  cursor: pointer;
}
.user_icon_box > .dropdown {
  position: absolute;
  right: 1rem;
  top: 36px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: var(--rounded-md);
  box-shadow: 0 0 0 1px #96a3b31a, 0 8px 28px -4px #96a3b34d;
  /* animation: usePopover_popoverIn__E6NnO .2s ease; */
  z-index: 250;
  min-width: 252px;
}
.dropdown_item_box {
  padding: 5px 0px;
  margin: 0px 0px;
  border-bottom: 1px solid #eee;
}
.dropdown_item_box_last {
  padding: 5px 0px;
  margin: 5px 0px;
}
.dropdown_item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 13px;
  margin: 2px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}
.dropdown_item_text {
  margin: 0px;
}
.dropdown_item:hover {
  cursor: pointer;
  background: var(--c-gray-border);
}
.dropdown_item_icon {
  color: #aaa;
  margin-right: 0.7rem;
}
.name {
  font-size: 0.8rem;
  font-weight: bold;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mail {
  color: #aaa;
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  color: white;
  min-height: 150px;
  width: 100vw;
  background-color: var(--c-blue-bg-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.copyright {
  color: #aaa;
  font-size: 0.7rem;
}