.title {
  padding: 1.3rem 0px 0.2rem 0px;
  margin: 0px;
  width: 80%;
  font-size: 1rem;
  max-width: 520px;
  margin: 0 auto;
}
.friend_list {
  width: 80%;
  max-width: 520px;
  margin: 0% auto 10% auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border-radius: var(--rounded-md);
}
.friend {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.left_side {
  display: flex;
  align-items: center;
}
.user_icon {
  border-radius: var(--rounded-full);
}
.user_name_and_code {
  margin: 0.5rem 1rem;
}
.user_name {
  font-weight: bolder;
  margin: 0px;
  font-size: 0.8rem;
}
.user_code {
  margin: 0px;
  color: #aaa;
  font-size: 0.75rem;
}
.right_side {
  display: flex;
  align-items: center;
}
.unfollow_button {
  color: #aaa;
  border: 1px solid #aaa;
  background: white;
  border-radius: var(--rounded-xl);
  padding: 0.5rem 1rem;
}
.unfollow_button:hover, .follow_button:hover {
  background: var(--c-gray-bg-lighter);
  cursor: pointer;
}
.follow_button {
  color: var(--c-primary);
  border: 1px solid var(--c-primary);
  background: white;
  border-radius: var(--rounded-xl);
  padding: 0.5rem 1rem;
}

.friend_search_form_box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.friend_search_form {
  border: 1px solid #eee;
  border-top-left-radius: var(--rounded-sm);
  border-bottom-left-radius: var(--rounded-sm);
  width: 100%;
  height: 48px;
  background: var(--c-gray-bg-lighter);
  font-size: 12px;
  padding: 0 1rem;
}
.form_search_button {
  width: 20%;
  max-width: 100px;
  color: white;
  height: 46px;
  background-color: var(--c-primary);
  border-top-right-radius: var(--rounded-sm);
  border-bottom-right-radius: var(--rounded-sm);
}
.form_search_button:hover {
  cursor: pointer;
}
.notfound_text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.suggest_user {
  margin: 2rem auto;
  width: 60%;
  background: white;
  border-radius: var(--rounded-md);
  max-width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}