html,
body {
  padding: 0;
  margin: 0;
  background: var(--c-secondary-bg);
  /* min-height: 100vh; */
  /* padding-bottom: 150px; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ */
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
}

:root {
  --c-primary: #3ea8ff;
  --c-primary-darker: #0f83fd;
  --c-secondary-bg: #f3f2ff;
  --c-gray-text: rgb(107, 114, 128);
  --c-blue-bg-lighter: #e6f2ff;
  --c-blue-bg-darker: rgb(50, 83, 97);
  --c-gray-bg-lighter: rgb(249, 250, 251);

  --c-red: #ef4444;

  --c-gray-500: #d6e3ed;
  --c-gray-border: rgb(229, 231, 235);

  --rounded-xs: 4px;
  --rounded-sm: 7px;
  --rounded-md: 10px;
  --rounded-lg: 14px;
  --rounded-xl: 20px;
  --rounded-full: 99rem;
  --rounded-publication: 25%;
}

.container {
  background-color: var(--c-secondary-bg);
}
.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.bold-text {
  font-size: 1rem;
  font-weight: bold;
}
.flex-wrap {
  flex-wrap: wrap;
}

.checkbox-input {
  display: none;
}

/* カスタムチェックボックスのスタイル */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #333; /* チェックボックスの枠線のスタイル */
  border-radius: 4px; /* 角丸 */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* チェックされたときのスタイル */
.checkbox-input:checked + .custom-checkbox {
  background-color: var(--c-primary); /* 選択時の背景色 */
  border-color: var(--c-primary); /* 選択時の枠線の色 */
  color: white; /* チェックマークの色 */
}

/* チェックマークのスタイル */
.custom-checkbox::after {
  content: '\2713'; /* チェックマークのUnicode文字 */
  font-size: 14px;
  display: none;
}

/* チェックされたときのチェックマークの表示 */
.checkbox-input:checked + .custom-checkbox::after {
  display: block;
}

/* ラベルのスタイル */
.checkbox-label {
  margin-left: 10px;
}

.first_rank {
  color: #e6b422;
}

.second_rank {
  color: #808080;
}

.third_rank {
  color: #b87333;
}