html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
}

:root {
  --c-primary: #3ea8ff;
  --c-primary-darker: #0f83fd;
  --c-secondary-bg: #f3f2ff;
  --c-blue-bg-lighter: #e6f2ff;
  --c-blue-bg-darker: rgb(50, 83, 97);
  --c-gray-bg-lighter: rgb(249, 250, 251);

  --c-gray-border: rgb(229, 231, 235);

  --rounded-xs: 4px;
  --rounded-sm: 7px;
  --rounded-md: 10px;
  --rounded-lg: 14px;
  --rounded-xl: 20px;
  --rounded-full: 99rem;
  --rounded-publication: 25%;
}

.container {
  background-color: var(--c-secondary-bg);
}