.main {
  /* min-height: 100vh; */
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_group {
  width: 80%;
}

.form_group > .label {
  font-size: 1rem;
  font-weight: bolder;
}

.small_label {
  font-size: 0.5rem;
  font-weight: bolder;
  color: #bbb;
  margin-left: 5px;
}

.text_form {
  border: 1px solid #eee;
  border-radius: 6px;
  width: 100%;
  height: 48px;
  background: var(--c-gray-bg-lighter);
  font-size: 12px;
  padding: 0 1rem;
}

.name_form {
  display: flex;
  align-items: center;
}

.name_form > .text_form {
  min-width: 80%;
  border-radius: 0px;
}

.form_add_button {
  width: 20%;
  max-width: 100px;
  color: white;
  height: 46px;
  background-color: var(--c-primary);
  border-top-right-radius: var(--rounded-sm);
  border-bottom-right-radius: var(--rounded-sm);
}

.suggestion_list_title {
  margin-bottom: 0px;
}
.suggestion_list {
  max-height: 300px;
  border-radius: var(--rounded-sm);
  overflow-y: auto;
  background: var(--c-gray-bg-lighter);
}
.suggestion_description {
  padding: 0 1rem;
  border-bottom: 1px solid var(--c-gray-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion_description_right {
  display: flex;
  align-items: center;
}
.suggestion_description_right p {
  margin-left: 1rem;
}
.suggestion_description_add_button {
  border: 1px solid var(--c-primary);
  border-radius: var(--rounded-xl);
  background: var(--c-gray-bg-lighter);
  color: var(--c-primary);
  padding: 0.5rem 1rem;
}
.member_list {
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: auto; */
  margin-top: 10px;
}

.member_chip {
  margin-right: 8px;
  margin-top: 2px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid var(--c-gray-border);
  border-radius: var(--rounded-xl);
  background: white;
  display: flex;
  align-items: center;
}

.member_chip p {
  margin: 0px 0px 0px 0.5rem;
}
.member_chip .icon {
  color: #aaa;
  font-size: 20px;
}

.submit_button {
  margin-top: 3rem;
  color: white;
  background-color: var(--c-primary);
  border-radius: var(--rounded-sm);
  width: 100%;
  height: 42px;
}