.record_header {
  background-color: var(--c-blue-bg-darker);
  width: 100%;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.record_header_title {
  color: white;
  margin: 0;
  padding: 1rem 0 0.5rem 1rem;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.record_header_member_list {
  display: flex;
  padding-left: 1rem;
}
.record_header_member_list > div {
  display: flex;
}
.record_header_member {
  color: white;
  margin: 0 0.1rem 1rem 0.1rem;
  font-size: 0.8rem;
}

.main {
  width: 90%;
  margin: 2.5rem auto 0 auto;
  text-align: center;
}

.add_record_button, .detail_result_button {
  width: 100%;
  max-width: 520px;
  border: 1px solid var(--c-primary);
  border-radius: var(--rounded-sm);
  background: var(--c-gray-bg-lighter);
  color: var(--c-primary);
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}
.detail_result_button {
  margin-top: 2rem;
}
.arrow_icon_wrapper {
  margin-top: 1rem;
  animation: move-y 0.6s infinite alternate ease-in-out;
}
@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
.arrow_icon {
  font-size: 1.4rem;
  color: var(--c-gray-text);
}
.detail_context {
  font-size: 0.8rem;
}
.copy_button {
  font-size: 0.9rem;
  color: var(--c-gray-text);
  border: 1px solid #d6e3ed;
  border-radius: var(--rounded-xl);
  background: none;
  width: 48%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.share_text {
  text-decoration: none;
}

.button_wrapper {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.edit_button {
  margin-top: 2rem;
  width: 100%;
  max-width: 520px;
  border-radius: var(--rounded-sm);
  background: var(--c-gray-border);
  color: var(--c-gray-text);
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

.newmain {
  margin: 2rem 1rem 0 1rem;
}
.user_select_box {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background: var(--c-gray-bg-lighter);
  width: 60%;
  max-width: 520px;
  border: 2px solid var(--c-gray-border);
  border-radius: var(--rounded-sm);
  margin-right: 1rem;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
  min-width: 50%;
}

.text_form {
  padding: 0.8rem 1rem;
  background: var(--c-gray-bg-lighter);
  width: 50%;
  font-size: 1rem;
  max-width: 520px;
  border: 2px solid var(--c-gray-border);
  border-radius: var(--rounded-sm);
  margin: 0 1rem;
}
.number_form_left{
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  background: var(--c-gray-border);
  border-top-left-radius: var(--rounded-sm);
  border-bottom-left-radius: var(--rounded-sm);
}
.number_form {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background: var(--c-gray-bg-lighter);
  width: 50%;
  max-width: 520px;
  border: 2px solid var(--c-gray-border);
  border-top-right-radius: var(--rounded-sm);
  border-bottom-right-radius: var(--rounded-sm);
  margin-right: 1rem;
}

.submit_button {
  background: var(--c-primary);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: var(--rounded-sm);
  width: 100%;
  max-width: 640px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.back_button {
  background: var(--c-gray-border);
  color: var(--c-gray-text);
  font-size: 1rem;
  font-weight: bold;
  border-radius: var(--rounded-sm);
  width: 100%;
  max-width: 640px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.pay_list {

}

.pay_el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 2px solid var(--c-gray-border);
}

.pay_el_left { 
  justify-content: start;
}
.pay_el_right {
  display: flex;
  align-items: center;
}

.pay_detail {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: start;
}

.pay_name_day {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  color: var(--c-gray-text); 
}

.pay_edit_button {
  margin-left: 1rem;
  background: var(--c-secondary-bg);
  cursor: pointer;
}
.pay_edit_icon:hover {
  color: var(--c-gray-text);
}

.member_ranking {
  max-width: 640px;
  margin: 2rem auto 0 auto;
}

.member_ranking_title {
  text-align: start;
  font-size: 0.9rem;
}

.ranking_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--c-gray-border);
}
.ranking_name {
  padding-left: 1rem;
}
.ranking_box_left {
  display: flex;
  align-items: center;
}

.more_show_button {
  margin-top: 0.8rem;
  width: 100%;
  max-width: 520px;
  border-radius: var(--rounded-sm);
  background: var(--c-gray-border);
  color: var(--c-gray-text);
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7rem;
}